################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenGL/FileContentIndex
/.vs/OpenGL/v17

/.vs
/OpenGL/Debug
/OpenGL/x64
